
body, div, h1, h2, h3, h4, h5, h6, p, ul, img {margin:0px; padding:0px; }

body { 
    font-family: Arial, Helvetica, sans-serif; 
    background: whitesmoke;
}

#main {
   background: url(images/header.png) repeat-x;
   height: 120px;
}

#logo {
    color: ivory;
    padding-top: 70px;
    padding-bottom: 150px;
    font-weight: bold;
    
}

#content-main {
    background:url(images/TweetContain.png);
    background-size: cover;
    border-radius: 5px;
    padding-top: 100px;
    padding-left: 20px;
    height: 363px;
}

#tweetBox {
    border-radius: 3px;
    position: relative;
    margin: auto;
    padding: 50px 50px;
    display: table;
}

#tweetText {
    text-align: center;
    width: 600px;
    height: 100px;
    clear: both;
}

#buttonDiv {
    height: 100px;
    width: 740px;
    display: block;
    margin: auto;
    cursor:pointer;
    float: left;
}

#newButton {
    background-color: red;
    float: right;
}

#twitterButton {
    height: 48px;
    padding-right: 30px;
    padding-left: 30px;
    background-color: aqua;
    color: black;
    border-color: black;
}

.bold-text {
    font-weight: bold;
}

#footer {
    padding-top: 200px;
    margin-top: 60px;
    color: black; 
    text-align: center;
}